@font-face {
    font-family: 'Lato', sans-serif;;
    src: url();
}

p.naslov{
    width: 100%;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    background: #202250;
    margin: 0;
    height: 60px;
    padding-top: 15px;
    color: white;
    border-bottom: solid 10px #565AA8;
    vertical-align: middle;
    
}

